footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.footer-container p {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}
