.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-page-container-form-login {
  width: 100%;
  text-align: center;
}

.login-page-container-form-login-input p {
  margin-bottom: 0px;
}

.login-page-container-form-login-button {
  margin-top: 10px;
}

.login-page-container-form-register {
  width: 100%;
  text-align: center;
}

.login-page-container-form-register-input p {
  margin-bottom: 0px;
}

.login-page-container-form-register-button {
  margin-top: 10px;
}

.login-page-container-switch-span {
  color: var(--main-purple);
}

.login-page-container-switch-span:hover {
  text-decoration: underline;
  cursor: pointer;
}
