<div class="login-page-container">
    <div class="login-page-container-form">
        <div class="login-page-container-form-input">
            <p>Email</p>
            <app-input type="text" placeholder="Enter you email"></app-input>
        </div>
        <div class="login-page-container-form-input">
            <p>Password</p>
            <app-input type="password" placeholder="Enter your password"></app-input>
        </div>
        <div class="login-page-container-form-button">
            <app-button size="medium" label="Login"></app-button>
        </div>
    </div>
    <div class="login-page-container-switch">
        <p>You dont have an account? Register now!</p>
    </div>
</div>