.card {
  margin: 10px 0px;
}

.home-page-container-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gym-record {
  margin-top: 5px;
  margin-bottom: 26px;
}

h2 {
  margin: 0;
  text-align: center;
}
