.card {
  margin: 10px 0px;
}

.home-page-container-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-add-container-cards .card:last-child {
  margin-bottom: 40px;
}
