<!-- <button (click)="addRecord()">Add record</button> -->
<div class="home-page-container">
    @if(!loading){
    @if(loadedRecords!.total > 0){
    <div>
        <h2>Your last recorded endurance PR</h2>
        @if(loadedRecords!.documents[loadedRecords!.total-1].type === 1){
        <app-card
            [title]="'Congratulation ' + loadedRecords!.documents[loadedRecords!.total - 1]!.distance + 'km' + ' record'"
            [description]="loadedRecords!.documents[loadedRecords!.total - 1]!.record_time" [svgContent]="runner"
            [size]="isMobile ? 'mobile': 'desktop'"></app-card>
        }@else if(loadedRecords!.documents[loadedRecords!.total-1].type === 2) {
        <app-card
            [title]="'Congratulation ' + loadedRecords!.documents[loadedRecords!.total - 1]!.distance + 'km' + ' record'"
            [description]="loadedRecords!.documents[loadedRecords!.total - 1]!.record_time" [svgContent]="bike"
            [size]="isMobile ? 'mobile': 'desktop'"></app-card>
        }@else {
        <app-card
            [title]="'Congratulation ' + loadedRecords!.documents[loadedRecords!.total - 1]!.distance + 'km' + ' record'"
            [description]="loadedRecords!.documents[loadedRecords!.total - 1]!.record_time" [svgContent]="swim"
            [size]="isMobile ? 'mobile': 'desktop'"></app-card>
        }
    </div>
    }@else {
    <h2>Your last recorded PR</h2>
    <app-card title="Nothing to see here!" description="Dont be shy, add your record!" [svgContent]="runner"
        [size]="isMobile ? 'mobile': 'desktop'"></app-card>
    }
    }@else {
    <div class="home-page-container-loading">
        <app-spinner></app-spinner>
    </div>
    }
    <div class="home-page-add-container">
        <h2>Add new endurance sport record</h2>
        <div class="home-page-add-container-cards">
            <div class="card">
                <app-card title="New running record!" description="That was pretty fast!" [svgContent]="runner"
                    [size]="isMobile ? 'mobile': 'desktop'" color="blue"
                    (onClick)="navigateTo('/new-record', {type: 'run'})"></app-card>
            </div>
            <div class="card">
                <app-card title="New bikeing record!" description="Great job!" [svgContent]="bike"
                    [size]="isMobile ? 'mobile': 'desktop'" color="green"
                    (onClick)="navigateTo('/new-record', {type: 'bike'})"></app-card>
            </div>
            <div class="card">
                <app-card title="New swiming record!" description="Like a fish!" [svgContent]="swim"
                    [size]="isMobile ? 'mobile': 'desktop'" color="red"
                    (onClick)="navigateTo('/new-record', {type: 'swim'})"></app-card>
            </div>
        </div>
        <h2>Add new strength record</h2>
        <div class="home-page-add-container-cards">
            <div class="card">
                <app-card title="Chest, biceps, triceps" description="Getting stronger huh?"
                    [size]="isMobile ? 'mobile': 'desktop'"
                    (onClick)="navigateTo('/new-record', {type: 'gym'})"></app-card>
            </div>
        </div>
    </div>
</div>