<header>
    <div class="header-container">
        <div class="header-left">
            <img src="/assets/images/logo.png" alt="PRBook logo" class="header-logo">
            <h1>PRBook</h1>
            <nav class="header-left-nav">
                @if(isLoggedIn){
                <p (click)="navigateTo('/home')">Home</p>
                <p (click)="navigateTo('/history')">PR History</p>
                }@else {
                <p (click)="navigateTo('/welcome')">Home</p>
                }
            </nav>
        </div>
        @if(isLoggedIn){
        <div class="header-right">
            <app-button label="Logout" (onClick)="logout()" />
        </div>
        }@else if (this.route !== '/login') {
        <div class="header-right">
            <app-button label="Get started" (onClick)="navigateTo('/login')" />
        </div>
        }

    </div>
</header>