<header>
    <div class="header-container">
        <div class="header-left">
            <img src="/assets/images/logo.png" alt="PRBook logo" class="header-logo">
            <h1>PRBook</h1>
            <nav class="header-left-nav">
                <a href="">Contact</a>
                <a href="">About us</a>
            </nav>
        </div>
        @if(!isLoggedIn){
        <div class="header-right">
            <app-button label="Get started" (onClick)="navigateToLogin()" />
        </div>
        }@else {
        <div class="header-right">
            <app-button label="Logout" (onClick)="logout()" />
        </div>
        }
    </div>
</header>