.button {
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button p {
  margin: 0px;
}

.small {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}

.medium {
  font-size: 1rem;
  padding: 0.25rem 1.5rem;
}

.large {
  font-size: 1.25rem;
  padding: 0.25rem 2rem;
}

.button-active {
  background-color: var(--main-purple);
}

.button-disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: black;
}
