.history-page-container-header-title {
  text-align: center;
}

.card-margin {
  margin: 5px 0px;
}

.history-page-container-content-records {
  overflow-y: scroll;
  height: 34vh;
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}

.history-page-container-content-records::-webkit-scrollbar {
  width: 6px;
}

.history-page-container-content-records::-webkit-scrollbar-track {
  background: transparent;
}

.history-page-container-content-records::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.history-page-container-content-records::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

.history-page-pagination {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

h2 {
  margin: 0;
}