<div class="history-page-container">
    <div class="history-page-container-header">
        <div class="history-page-container-header-title">
            <h2>Your pr history</h2>
        </div>
    </div>
    <div class="history-page-container-content">
        <div class="history-page-container-content-records">
        <h2>Endurance records</h2>
        @for(record of enduranceRecords; track $index){
        <div>
            <p>{{ activityTypes[record.type] || '' }}</p>
        </div>
        }
        </div>
        <div class="history-page-container-content-records">
        <h2>Gym records</h2>
        @for(record of gymRecords; track $index){
        <div>
            <p>{{record.body_part}}</p>
        </div>
        }
        </div>
    </div>
</div>