<div class="history-page-container">
  <div class="history-page-container-header">
    <div class="history-page-container-header-title">
      <h2 class="no-margin">Your pr history</h2>
    </div>
  </div>
  <div class="history-page-container-content">
    <h2>Endurance records</h2>
    <div class="history-page-container-content-records">
      @if(!loadingEndurance){
      @for(record of enduranceRecords; track $index){
      <div class="card-margin">
        <app-card [title]="activityTypes[record.type] || ''" size="mobile" [description]="
            'You recorded ' + record.distance + 'kms in ' + record.record_time
          " [svgContent]="activityTypesSvg[record.type]" [color]="activityTypesColors[record.type] || ''" />
      </div>
      }
      }@else {
      <app-spinner />
      }
    </div>
    <div class="history-page-pagination">
      <app-button size="small" (click)="prevPageEndurance()" label="<" [disabled]="currentPage === 1">
      </app-button>
      <app-button size="small" (click)="nextPageEndurance()" label=">" [disabled]="maxPage === currentPage">
      </app-button>
    </div>
    <h2>Gym records</h2>
    <div class="history-page-container-content-records">
      @if(!loadingGym){
      @for(record of gymRecords; track $index){
      <div class="card-margin">
        <app-card [title]="record.body_part" size="mobile"
          [description]="'You recorded ' + record.weight + ' kgs in ' + record.excercise + ' for ' + record.reps + ' rep/reps/seconds'"
          [color]="gymExcercisesColors[record.body_part] || ''"></app-card>
      </div>
      }
      }@else {
      <app-spinner />
      }
    </div>
  </div>
  <div class="history-page-pagination">
    <app-button size="small" (click)="prevPageGym()" label="<" [disabled]="currentPageGym === 1">
    </app-button>
    <app-button size="small" (click)="nextPageGym()" label=">" [disabled]="maxPageGym === currentPageGym">
    </app-button>
  </div>
</div>