<div class="history-page-container">
  <div class="history-page-container-header">
    <div class="history-page-container-header-title">
      <h2 class="no-margin">Your pr history</h2>
    </div>
  </div>
  <div class="history-page-container-content">
    <h2>Endurance records</h2>
    <div class="history-page-container-content-records">
      @if(!loadingEndurance){
      @for(record of enduranceRecords; track $index){
      <div class="card-margin">
        <app-card [title]="activityTypes[record.type] || ''" size="mobile" [description]="
            'You recorded ' + record.distance + 'kms in ' + record.record_time
          " [svgContent]="activityTypesSvg[record.type]" [color]="activityTypesColors[record.type] || ''"
          [delete]="true" (emitDelete)="deleteEnduranceRecord(record.$id)" />
      </div>
      }
      @if(enduranceRecords.length === 0){
        <p>No records to show!</p>
      }
      }@else {
      <app-spinner />
      }
    </div>
    <div class="history-page-pagination">
      <app-pagination (nextPage)="nextPageEndurance()" (prevPage)="prevPageEndurance()" [currentPage]="currentPage"
        [maxPage]="maxPage" />
    </div>
    <h2>Gym records</h2>
    <div class="history-page-container-content-records">
      @if(!loadingGym){
      @for(record of gymRecords; track $index){
      <div class="card-margin">
        <app-card [title]="record.body_part" size="mobile"
          [description]="'You recorded ' + record.weight + ' kgs in ' + record.excercise + ' for ' + record.reps + ' reps/seconds'"
          [color]="gymExcercisesColors[record.body_part] || ''" [delete]="true"
          (emitDelete)="deleteGymRecord(record.$id)"></app-card>
      </div>
      }
      @if(gymRecords.length === 0){
        <p>No records to show!</p>
      }
      }@else {
      <app-spinner />
      }
    </div>
  </div>
  <div class="history-page-pagination">
    <app-pagination (nextPage)="nextPageGym()" (prevPage)="prevPageGym()" [currentPage]="currentPageGym"
      [maxPage]="maxPageGym" />
  </div>
</div>