<p>pr-page works!</p>
<h2>Endurance records</h2>
@if(!loadingEndurance){
<h3>Running</h3>
@for(record of runningDistancesArray; track $index){
@if(record !== null){
<p>{{record.distance}}-{{record.record_time}}</p>
}
}
<h3>Cycling</h3>
@for(record of cyclingDistancesArray; track $index){
@if(record !== null){
<p>{{record.distance}}-{{record.record_time}}</p>
}
}
<h3>Swimming</h3>
@for(record of swimmingDistancesArray; track $index){
@if(record !== null){
<p>{{record.distance}}-{{record.record_time}}</p>
}
}
}@else {
<app-spinner />
}
<h2>Gym records</h2>
@if(!loadingGym){
<h3>Chest</h3>
@for(record of chestExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
<h3>Back</h3>
@for(record of backExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
<h3>Legs</h3>
@for(record of legsExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
<h3>Shoulders</h3>
@for(record of shouldersExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
<h3>Arms</h3>
@for(record of armsExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
<h3>Core</h3>
@for(record of coreExcercisesArray; track $index){
@if(record !== null){
<p>{{record.excercise}}-{{record.weight}}-{{record.reps}}</p>
}
}
}@else {
<app-spinner />
}