.new-record-page-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-record-page-form-container-element {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select,
input[type="text"] {
  width: 100%;
  padding: var(--padding);
  font-size: 1.2rem;
  border: 2px solid var(--main-purple);
  border-radius: var(--border-radius);
  background-color: var(--background-purple);
  transition: var(--transition);
  outline: none;
  border-radius: 5px;
}

input[type="text"]::placeholder {
  color: rgba(145, 6, 233, 0.5);
  font-style: italic;
}

.error {
  color: var(--main-red);
  font-size: 14px;
  margin-top: 5px;
}
