<div class="login-page-container">
    @if(!loading){
    @if(!register && !forgot){
    <div class="login-page-container-form-login" [formGroup]="loginForm">
        <h3>Login to PRBook!</h3>
        <div class="login-page-container-form-login-input">
            <p>Email</p>
            <input type="text" placeholder="Enter you email" class="input" formControlName="email" />
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <p class="red">
                @if (loginForm.get('email')?.hasError('required')) { Email is required }
                @if (loginForm.get('email')?.hasError('email')) { Enter a valid email }
            </p>
            }
        </div>
        <div class="login-page-container-form-login-input">
            <p>Password</p>
            <input type="password" placeholder="Enter your password" class="input" formControlName="password" />
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <p class="red">
                @if (loginForm.get('password')?.hasError('required')) { Password is required }
                @if (loginForm.get('password')?.hasError('minlength')) { Password must be at least 8 characters }
            </p>
            }
        </div>
        <!-- <div class="login-page-container-form-login-remember">
            <p>Forgot password? <span class="login-page-container-switch-span" (click)="forgot = !forgot">Click
                    here</span></p>
        </div> -->
        <div class="login-page-container-form-login-button">
            <app-button size="medium" label="Login" (onClick)="sendLogin()"></app-button>
            @if(errorMessageLogin){
            <p class="red">{{errorMessageLogin}}</p>
            }
        </div>
    </div>
    }@else if(forgot && !register){
    <div class="login-page-container-form-login">
        <h3>Restore password to PRBook!</h3>
        <div class="login-page-container-form-login-input">
            <p>Email</p>
            <input type="text" placeholder="Enter you email" class="input" />
        </div>
        <div class="login-page-container-form-register-button">
            <app-button size="medium" label="Restore password"></app-button>
        </div>
        <div class="login-page-container-form-login-remember">
            <p>Or maybe you want go back to login?<span class="login-page-container-switch-span"
                    (click)="forgot = !forgot">Click here</span></p>
        </div>
    </div>
    }
    @else {
    <div class="login-page-container-form-register" [formGroup]="registerForm">
        <h3>Register to PRBook!</h3>
        <div class="login-page-container-form-register-input">
            <p>Email</p>
            <input type="email" placeholder="Enter you email" formControlName="email" class="input" />
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <p class="red">
                @if (registerForm.get('email')?.hasError('required')) { Email is required }
                @if (registerForm.get('email')?.hasError('email')) { Enter a valid email }
            </p>
            }
        </div>
        <div class="login-page-container-form-register-input">
            <p>Name</p>
            <input type="text" placeholder="Enter you name" formControlName="name" class="input" />
            @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
            <p class="red">
                @if (registerForm.get('name')?.hasError('required')) { Name is required }
                @if (registerForm.get('name')?.hasError('minlength')) { Name must be at least 3 characters }
            </p>
            }
        </div>
        <div class="login-page-container-form-register-input">
            <p>Password</p>
            <input type="password" placeholder="Enter your password" formControlName="password" class="input" />
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            <p class="red">
                @if (registerForm.get('password')?.hasError('required')) { Password is required }
                @if (registerForm.get('password')?.hasError('minlength')) { Password must be at least 8 characters }
            </p>
            }
        </div>
        <div class="login-page-container-form-register-input">
            <p>Confirm password</p>
            <input type="password" placeholder="Confirm your password" formControlName="confirmPassword"
                class="input" />
            @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
            <p class="red">
                @if (registerForm.get('confirmPassword')?.hasError('required')) { Confirm Password is required }
                @if (registerForm.get('confirmPassword')?.hasError('minlength')) { Confirm Password must be at least 8
                characters }
            </p>
            }

            @if (registerForm.get('password')?.value !== registerForm.get('confirmPassword')?.value &&
            registerForm.get('confirmPassword')?.touched) {
            <p class="red">Passwords do not match</p>
            }
        </div>
        <div class="login-page-container-form-register-button">
            <app-button size="medium" label="Register" (onClick)="sendRegister()"></app-button>
        </div>
    </div>
    }
    <div class="login-page-container-switch">
        @if(!register && !forgot){
        <p>You dont have an account? <span class="login-page-container-switch-span"
                (click)="register = !register">Register
                now!</span></p>
        }@else {
        <p>You have an account? <span class="login-page-container-switch-span"
                (click)="register = !register && forgot = !forgot">Login
                now!</span></p>
        }
    </div>
    }@else {
    <p>Loading please wait...</p>
    }
    <p>{{message}}</p>
</div>