.pagination-component {
  display: flex;
  align-items: center;
}

.pagination-component-button {
  display: flex;
  background-color: var(--main-purple);
  color: white;
  border-radius: 1.5rem;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
}

.pagination-component-number{
  background-color: var(--background-purple);
  padding: 0.25rem;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 0px 5px;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: black;
}

.active{
  border: 2px solid var(--background-purple);
}