.pagination-component {
  display: flex;
  align-items: center;
}

.pagination-component-button {
  display: flex;
  color: white;
  border-radius: 1.5rem;
  padding: 0.25rem 1.5rem;
  cursor: pointer;
}

.pagination-component-number{
  color: white;
  padding: 0.25rem;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 0px 5px;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: black;
}

.button-purple{
  background-color: var(--main-purple);
}

.button-blue{
  background-color: var(--main-blue);
}

.number-purple{
  background-color: var(--background-purple);
}

.number-blue{
  background-color: var(--background-blue);
}