html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-family: "Mulish", sans-serif;
}

p {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --main-purple: rgb(145, 6, 233);
  --background-purple: rgb(144, 6, 233, 0.2);
}
