<div class="starting-page-container">
    <div class="starting-page-container-top">
        <div class="starting-page-container-top-title">
            <h1>Welcome to PRBook!</h1>
        </div>
        <div class="starting-page-container-top-image">
            <img src="/assets/images/starting-page.png" alt="">
        </div>
    </div>
    <div class="starting-page-container-mid">
        <div class="starting-page-container-mid-left">
            <p>Your progress, your motivation, your personal bests. 🎯</p>
            <p>Track your athletic achievements with ease:</p>
            <ul>
                <li>🏋️‍♂️ <strong>Strength Records</strong> – Log your gym PRs and monitor your progress.</li>
                <li>🏃‍♀️ <strong>Endurance Milestones</strong> – Record your best runs, rides, and swims.</li>
                <li>📊 <strong>Body Metrics</strong> – Keep track of your weight, muscle mass, and more.</li>
            </ul>
            <p>Stay motivated, celebrate every success, and push your limits. Let’s achieve your goals together!</p>
        </div>
        <div class="starting-page-container-mid-right">
            <img src="/assets/images/starting-page2.png" alt="">
        </div>
    </div>
</div>