.starting-page-container {
  background-color: white;
}

.starting-page-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.starting-page-container h1 {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
  text-align: center;
}

.starting-page-container-mid {
  display: flex;
}

.starting-page-container-mid-left {
  width: 50%;
}

.starting-page-container-mid-right {
  width: 50%;
}

.starting-page-container-mid-right img {
  width: 40rem;
}

.starting-page-container-mid-left {
  margin-top: 10%;
}

@media (max-width: 1024px) {
  .starting-page-container-mid-right img {
    margin-top: 10%;
    width: 30rem;
  }
}

@media (max-width: 768px) {
  .starting-page-container-mid {
    display: flex;
    flex-direction: column-reverse;
  }

  .starting-page-container-mid-left {
    width: 100%;
    text-align: center;
  }

  .starting-page-container-mid-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .starting-page-container-mid-right img {
    width: 17rem;
  }
}
