<div class="starting-page-container">
    <div class="starting-page-container-top">
        <div class="starting-page-container-top-title">
            <h1>Welcome to PRBook!</h1>
        </div>
    </div>
    <div class="starting-page-container-mid">
        <div class="starting-page-container-mid-left">
            <h2>Your progress, your motivation, your personal bests</h2>
            <h3>Track your athletic achievements with ease:</h3>
            <p style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-barbell">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M2 12h1" />
                    <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2" />
                    <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" />
                    <path d="M9 12h6" />
                    <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" />
                    <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2" />
                    <path d="M22 12h-1" />
                </svg><strong>Strength Records</strong> – Log your gym PRs and monitor your progress.</p>
            <p style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-run">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M13 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                    <path d="M4 17l5 1l.75 -1.5" />
                    <path d="M15 21l0 -4l-4 -3l1 -6" />
                    <path d="M7 12l0 -3l5 -1l3 3l3 1" />
                </svg><strong>Endurance Milestones</strong> – Record your best runs, rides, and swims.</p>
            <p style="display: flex;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-scale-outline">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 3m0 4a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                    <path
                        d="M12 7c1.956 0 3.724 .802 5 2.095l-2.956 2.904a3 3 0 0 0 -2.038 -.799a3 3 0 0 0 -2.038 .798l-2.956 -2.903a6.979 6.979 0 0 1 5 -2.095z" />
                </svg><strong>Body Metrics</strong> – Keep track of your weight, muscle mass, and more.</p>
            <p>Stay motivated, celebrate every success, and push your limits. Let’s achieve your goals together!
            </p>
            <app-button label="Get started now!" size="large" (onClick)="navigateToLogin()"></app-button>
        </div>
        <div class="starting-page-container-mid-right">
            <img src="/assets/images/starting-page3.png" alt="Starting page image">
        </div>
    </div>
</div>